<footer class='main-aside__footer text-center py-5 text-muted'>
  <div class='d-flex justify-content-center py-2'>
    <%= link_to 'プライバシー', root_path, class: 'mr-2' %>
    <%= link_to '利用規約', root_path, class: 'mr-2' %>
  </div>
  <p>Copyright © 2021 Change All Rights Reserved.</p>
</footer>