<div class='pb-3 pl-2'>
  <%= link_to user_path(user) do %>
    <%= image_tag user.profile_image_url, format: "jpg", size: "30x30", class: "rounded-circle mr-2" %>
    <span class='main-aside__user-name'><%= user.name %></span>
  <% end %>
</div>