<div class="search-form text-center">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, placeholder: "\uf002 検索", class: "text-center fas py-1" %>
    <% f.submit %>
  <% end %>
</div>

<div class="posts jscroll">
  <%= render partial: "post-item", collection: @posts, as: "post" %>
  <%= link_to_next_page @posts, "next >>", class: "next" %>
</div>