.left-side {

  &__sticky {
    position: sticky;
    top: 0;
  }

  // sidenavリンクbox
  &__link {
    padding: 10px 0px 10px 20px;
    display: flex;
  }
  &__link:hover {
    background-color: #f0f0f0;
  }
  &__icon-outer {
    width: 40px;
    padding: 0 auto;
  }
  &__icon {
    font-size: 35px;
    line-height: 35px;
  }
  &__icon-circle {
    font-size: 5px;
    top: -18px;
    right: -2.5px;
    color: #ce9eff;
  }
  &__text {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
  }

  // 投稿box
  &__post-box {
    margin: 20px;
    text-align: center;
  }
  &__post-icon {
    display: none !important;
    font-size: 40px;
    color: #ce9eff;
  }
  &__post-icon:hover,
  &__post-icon:active {
    color: #bf7fff;
  }

  // フッター
  &__footer {
    font-size: 10px;
    position: relative;
  }
  &__footer-text {
    position: absolute;
    top: 500px;
    left: 25px;
  }
}

@media screen and (max-width:768px) {
  .left-side {

    // sidenavリンクbox
    &__link {
      padding-left: 0;
      display: block;
    }
    &__link:hover {
      background-color: #f0f0f0;
    }
    &__icon-outer {
      width: 35px;
      margin: 0 auto;
    }
    &__text {
      padding-left: 0;
      font-size: 8px;
      text-align: center;
    }

    // 投稿box
    &__post-btn {
      display: none;
    }
    &__post-icon {
      display: inline-block !important;
    }
  }
}

@media screen and (max-width:425px) {
  .left-side {
    &__link {
      padding: 0;
    }
    &__text {
      line-height: 10px;
      padding-top: 2px;
      width: 100%;
    }
    &__post-box {
      display: none;
    }
  }
}
