.comment-form {
  width: 100%;
}

#carouselIndicators {
  width: 480px;
}

.modal-close {
  z-index: 2;
  position: absolute;
  top: 16px;
  right: 16px;
}

.tool-tip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
}

.search-field::placeholder {
  font-size: 12px;
}

@media screen and (max-width:815px) {

  .modal-dialog-fluid {
    max-width: 480px !important;
  }
  .modal {
    &__right {
      display: none;
    }
  }

  .carousel__outer {
    width: 480px;
    margin: 0 auto;
  }
  .carousel-item {
    width: 100% !important;
    max-height: 85vh;
  }
}

@media screen and (max-width:480px) {

  .modal-dialog-fluid {
    max-width: 100% !important;
  }

  #carouselIndicators {
    width: 100%;
  }
  .carousel__outer {
    width: 100%;
  }
  .carousel-item {
    width: 100% !important;
    max-height: 85vh;
  }
}