.comment-form {
  width: 100%;
}

@media screen and (max-width:815px) {

  .modal-dialog-fluid {
    max-width: 100% !important;
  }
  .modal {
    &__right {
      display: none;
    }
  }

  #carouselIndicators {
    width: 100%;
  }
  .carousel-item {
    width: 100% !important;
    max-height: 80vh;
  }
}
