<% provide(:title, "#{@hashtag}") %>
<% if @posts.present? %>
  <div class="posts">
    <%= render partial: "public/posts/post-item", collection: @posts, as: "post" %>
  </div>
<% elsif @hashtag.present? %>
  <p>一致するハッシュタグがありません</p>
<% else %>
  <% provide(:title, "Search results for \"#{@keyword}\"") %>
  <%= render partial: 'public/users/index', collection: @users, as: "user" %>
<% end %>
