<% provide(:title, "#{@hashtag}") %>
<% if @posts.present? %>
  <div class="posts">
    <% @posts.each do |post| %>
      <%= render "public/posts/post-item", { post: post, comment: @comment } %>
    <% end %>
  </div>
<% else %>
  <%= render 'public/users/index', users: @users %>
<% end %>
