<% provide(:title, "Home") %>

<div class="posts jscroll">
  <%= render partial: "public/posts/post-item", collection: @posts, as: "post" %>
  <%= link_to_next_page @posts, "next >>", class: "next" %>
</div>