/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  margin: 0;
  box-sizing: border-box;
  // width: 1150px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  // color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

header {
  height: 48px;
}

.wrapper {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.sidenav {
  width: 275px;
  padding: 0 12px;
}

.contents {
  width: 600px;
  margin-right: 28px;
}

aside {
  width: 275px;
}

.header-title {
  position: fixed;
  width: 600px;
  padding: 5px;
  background: #fff;
}

.post-images img {
  width: 299px;
}

.heart_red {
  color: #e54747;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.modal-dialog-fluid {
  max-width: inherit;
  width: 98%;
  margin-left: 15px;
  padding: 0px;
}
