/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // width: 1150px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #262626;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

// 全体レイアウト
.home {
  &__box {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
  }
  &__sidenav {
    min-width: 250px;
  }
  &__main {
    width: 875px;
    padding-left: 10px;
  }
  &__main-contens {
    min-width: 600px;
    margin-right: 25px;
  }
  &__main-aside {
    width: 250px;
  }
}

// 以下、個別スタイル
.post-images img {
  width: 299px;
}

// modal window
.modal-dialog-fluid {
  max-width: inherit;
  width: 815px;
}
// カルーセル
.carousel-inner {
  background-color: #000;
}
.carousel-item {
  width: 480px;
  height: 600px;
  position: relative;
}
.carousel-item img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width:1125px) {
  .home {
    &__box {
      justify-content: center;
    }
    &__sidenav {
      min-width: 90px;
    }
  }
}

@media screen and (max-width:965px) {
  .home {
    &__main-aside {
      display: none;
    }
  }
}

@media screen and (max-width:690px) {
  .home {
    &__sidenav {
      display: none;
    }
    &__main {
      width: 100%;
    }
  }
}
