.btn {

  &__purple {
    padding: 8px 28px;
    background-color: #ce9eff;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #ce9eff;
    text-align: center;
  }
  &__purple:hover,
  &__purple:active {
    color: #fff;
    background-color: #bf7fff;
    border: 1px solid #bf7fff;
  }
}

.heart_red {
  color: #e54747;
}

.link {
  &__purple {
    color: #ce9eff;
  }
  &__purple:hover,
  &__purple:active {
    color: #bf7fff;
  }
}