.notice {
  background-color: #ccffcc;
  border-radius: 4px;
  width: 100%;
  font-size: 12px;
  padding: 8px;
}

.warning {
  background-color: #ffe5cc;
  border-radius: 4px;
  width: 100%;
  font-size: 12px;
  padding: 8px;
}