.notice {
  background-color: #bcffbc;
  border-radius: 4px;
  width: 100%;
  font-size: 12px;
  padding: 5px;
}

.warning {
  background-color: #ffddbc;
  border-radius: 4px;
  width: 100%;
  font-size: 12px;
  padding: 5px;
}