<%= render "user-info", user: @user %>

<div class="posts">
  <% if @favorite_posts.present? %>
    <%= render partial: "public/posts/post-item", collection: @favorite_posts, as: "post" %>
  <% end %>
</div>