<header class='header border-bottom bg-white'>
  <div class='header__box mx-auto d-flex px-3'>
    <div class='header__title-box py-3'>
      <%= link_to admin_users_path do %>
        <img src="<%= asset_path "logo-sm.png" %>" />
      <% end %>
    </div>

    <div class='header__content-box py-3 ml-auto'>
      <%= link_to 'ユーザー一覧', admin_users_path, class: 'header__content' %>
      <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'header__content' %>
    </div>
  </div>
</header>